@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #1D2C69;
    --bg-clr-two: #0B122B;
    --text-clr: white;
}

body {
    background-color: var(--text-clr);
    font-family: 'Helvetica', sans-serif;
}

.container {
    background-color: var(--bg-color);
    width: 90vw;
    margin: 10vh auto 20vh auto;
    box-shadow: 6px 6px 8px rgba(41, 40, 40, 0.253);
    padding: 15px 5px;
    background-color: #1D2C69;
    color: var(--text-clr);
}

.minicontainer {
    width: 90vw;
    margin: 35vh auto 40vh auto;
    border: 1px solid black;
    padding: 10px;
    color: var(--text-clr);
    background-color: #1D2C69;
    border-top-right-radius: 6rem;
    box-shadow: 3px 3px 8px rgba(85, 84, 84, 0.616);
}

.title {
    font-size: 2.4rem;
    font-family: 'Anton', sans-serif;
    line-height: 1.1;
    margin-bottom: 6vh;
}

.description {
    margin-top: 2vh;
}

.format, .luckydescription {
    color: gray;
    margin: 2vh 0;
}

input, button {
    background-color: var(--bg-color);
    border: 1px solid black;
}

input {
    display: block;
    margin-top: 1.5vh;
    padding: 10px 5px;
}

button {
    display: block;
    margin: 2vh 0;
    padding: 5px 10px;
}

label {
    font-size: .7rem;
}

.output {
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
}

.privacy {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-clr-two);
}


@media only screen and (min-width: 768px){
    .container {
        width: 50vw;
    }
}