@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #1D2C69;
    --bg-clr-two: #0B122B;
    --text-clr: white;
}

body {
    background-color: var(--text-clr);
    font-family: 'Helvetica', sans-serif;
    background-image: url('');
}

.container {
    background-color: var(--bg-color);
    width: 90vw;
    margin: 10vh auto 20vh auto;
    box-shadow: 6px 6px 8px rgba(41, 40, 40, 0.253);
    padding: 15px 15px;
    background-color: #1D2C69;
    color: var(--text-clr);
}

.minicontainer {
    width: 90vw;
    margin: 35vh auto 40vh auto;
    border: 1px solid black;
    padding: 10px;
    color: var(--text-clr);
    background-color: #1D2C69;
    border-top-right-radius: 6rem;
    box-shadow: 3px 3px 8px rgba(85, 84, 84, 0.616);
}

.title {
    font-size: 2.4rem;
    font-family: 'Anton', sans-serif;
    line-height: 1.1;
    margin-bottom: 6vh;
    text-shadow: 3px 2px black;
}

.description {
    margin-top: 2vh;
    margin-bottom: 6vh;
    font-weight: bold;
}

.format, .luckydescription {
    color: gray;
    margin: 2vh 0;
}

input, button {
    background-color: var(--bg-clr-two);
    color: var(--text-clr);
    border: 1px solid black;
}

input {
    display: block;
    margin-top: 1vh;
    margin-bottom: 2vh;
    padding: 15px 10px;
    width: 60%;
}

button {
    display: block;
    margin: 2vh 0;
    padding: 5px 10px;
}

label {
    font-size: .7rem;
}

.output {
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1.3px;
    text-shadow: 2px 2px black;
}

.privacy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-clr-two);
    padding: 20px 5px;
    font-size: .8rem;
}

.cut {
    cursor: pointer;
}

.connect {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-clr);
    padding: 15px;
}

.footerlink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerlink a {
    text-decoration: none;
    color: var(--text-clr);
    margin-left: 4vw;
    margin-top: 4vh;
    font-weight: bold;
}

@media only screen and (min-width: 768px){
    .container {
        width: 50vw;
    }

    .minicontainer {
        width: 50vw;
        padding: 40px 10px;
        text-align: center;
    }

    .title {
        font-size: 4rem;
    }

    .privacy {
        padding: 30px 10px;
    }
    
    .description {
        margin-top: 5vh;
        font-size: 1.2rem;
    }

    input {
        padding: 20px 10px;
        margin-bottom: 7vh;
    }
    
    button {
        padding: 15px 20px;
        margin-top: 5vh;
    }
}